<div>
  <h2 id="page-heading" data-cy="PageItemHeading">
    <span jhiTranslate="openPracticeLibraryApp.pageItem.home.title">Page Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="openPracticeLibraryApp.pageItem.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-page-item"
        [routerLink]="['/page-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="openPracticeLibraryApp.pageItem.home.createLabel">Create a new Page Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (pageItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="openPracticeLibraryApp.pageItem.home.notFound">No Page Items found</span>
    </div>
  }

  @if (pageItems && pageItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="authors">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.authors">Authors</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="menu">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.menu">Menu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="menuWeight">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.menuWeight">Menu Weight</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="publishDate">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.publishDate">Publish Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="publishedBy">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.publishedBy">Published By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="approvedBy">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.approvedBy">Approved By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="approvedDate">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.approvedDate">Approved Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jumbotronAltText">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.jumbotronAltText">Jumbotron Alt Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="body">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.body">Body</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="jumbotronImage.id">
              <div class="d-flex">
                <span jhiTranslate="openPracticeLibraryApp.pageItem.jumbotronImage">Jumbotron Image</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (pageItem of pageItems; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/page-item', pageItem.id, 'view']">{{ pageItem.id }}</a>
              </td>
              <td>{{ pageItem.title }}</td>
              <td>{{ pageItem.authors }}</td>
              <td>{{ pageItem.menu }}</td>
              <td>{{ pageItem.menuWeight }}</td>
              <td>{{ pageItem.publishDate | formatMediumDatetime }}</td>
              <td>{{ pageItem.publishedBy }}</td>
              <td [jhiTranslate]="'openPracticeLibraryApp.Status.' + (pageItem.status ?? 'null')">
                {{
                  { null: '', DRAFT: 'DRAFT', IN_REVIEW: 'IN_REVIEW', READY: 'READY', PUBLISHED: 'PUBLISHED' }[pageItem.status ?? 'null']
                }}
              </td>
              <td>{{ pageItem.approvedBy }}</td>
              <td>{{ pageItem.approvedDate | formatMediumDatetime }}</td>
              <td>{{ pageItem.jumbotronAltText }}</td>
              <td>{{ pageItem.body }}</td>
              <td>
                @if (pageItem.jumbotronImage) {
                  <div>
                    <a [routerLink]="['/media-asset', pageItem.jumbotronImage.id, 'view']">{{ pageItem.jumbotronImage.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/page-item', pageItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/page-item', pageItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(pageItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
